<section class="section max-width: 480px; margin: 0 auto;">

  <div class="has-text-centered mb-6">
    <h2 class="title is-3 has-text-white">Why Do You Need A Coach?</h2>
    <p class="subtitle is-5 has-text-grey-light">
      Master high-impact writing skills and attract opportunities through content.
    </p>
  </div>

  <div class="section has-text-white column is-8 is-offset-2">

    <div class="content article-body is-size-5">
      <p>Be willing to learn.</p>
      <p>Become a student.</p>
      <p>Take notes.</p>
      <p>You can skip any line by tipping the porter.</p>
      <p>There is zero reason you should be waiting 30 minutes in a line.</p>
      <p>You can always skip it. $10 to skip a 30 minute line.</p>
      <p>If you’re going out for 4 hours, then 30 minutes is 12.5% of the total time you’re out. In 99% of cases, they
        will take what you have for them if you speak well.</p>
      <p>In context, this post is about paying those ahead of you to shorten the learning curve and get you faster
        results.</p>
      <p>It's like paying to get the shortcut. If you don't feel comfortable with the word "shortcut", replace it with
        "leverage".</p>
      <p>So it's like paying to get access to leverage and skip ahead of those who lack leverage.</p>
      <p>Learn to pay for access, speed, and convenience. Years of struggle don't add much to the labor.</p>
      <p>You can get anything done if you do not care who gets the credit:</p>

      <ul>
        <li>Network</li>
        <li>Ask for help</li>
        <li>Get a mentor</li>
        <li>Model someone who is where you aspire to be</li>
      </ul>

      <h3 class="title is-3 has-text-white">Masterminds</h3>
      <p>A simple piece of advice can build you a huge audience, launch your product, make you millions, and change your
        life forever.</p>
      <blockquote class="has-text-black">
        "Never forget that intelligence rules the world and ignorance carries the burden. Therefore, remove yourself as
        far as possible from ignorance and seek as far as possible to be intelligent." — Marcus Garvey
      </blockquote>

    </div>
  </div>



  <!-- Buttons Group -->
  <div class="mt-5 buttons is-centered is-flex-wrap-wrap">
    <a href="https://selar.com/fullstack-writer" class="button is-primary is-medium">
      Enroll In The Course
    </a>
    <a href="https://selar.com/writing-sprint" class="button is-light is-medium">
      I Want The Sprint
    </a>
  </div>
</section>