<section id="about" class="section">
  <div class="container">
    <div class="columns is-vcentered">
      
      <!-- TEXT COLUMN -->
      <div class="column is-7 has-text-white">
        <h2 class="title is-3">Why Do You Need A Coach?</h2>
        <div class="is-size-5">
          
          <p>Be willing to learn.</p>
          <p>Become a student.</p>
          <p>Take notes.</p>
          <p>You can skip any line by tipping the porter.</p>
          <p>There is zero reason you should be waiting 30 minutes in a line.</p>
          <p>You can always skip it. $10 to skip a 30 minute line.</p>
          <p>If you’re going out for 4 hours, then 30 minutes is 12.5% of the total time you’re out. In 99% of cases, they will take what you have for them if you speak well.</p>
          <p>In context, this post is about paying those ahead of you to shorten the learning curve and get you faster results.</p>
          <p>It's like paying to get the shortcut. If you don't feel comfortable with the word "shortcut", replace it with "leverage".</p>
          <p>So it's like paying to get access to leverage and skip ahead of those who lack leverage.</p>
          <p>Learn to pay for access, speed, and convenience. Years of struggle don't add much to the labor.</p>
          <p>You can get anything done if you do not care who gets the credit:</p>

          <ul>
            <li>Network</li>
            <li>Ask for help</li>
            <li>Get a mentor</li>
            <li>Model someone who is where you aspire to be</li>
          </ul>

          <h3 class="title is-3">Masterminds</h3>
          <p>A simple piece of advice can build you a huge audience, launch your product, make you millions, and change your life forever.</p>
          <blockquote>
            "Never forget that intelligence rules the world and ignorance carries the burden. Therefore, remove yourself as far as possible from ignorance and seek as far as possible to be intelligent." — Marcus Garvey
          </blockquote>

        </div>
      </div>
      
      <!-- IMAGE COLUMN -->
      <div class="column is-5 has-text-centered">
        <figure class="image is-4by4" style="max-width:100%; height:auto; margin:0 auto;">
          <img src="{{ '/assets/img/avatar.png' | relative_url }}" alt="Coach">
        </figure>
      </div>

    </div>
  </div>
</section>
