<section class="section column is-8 has-background-light">
  <div class="container ">
    <h2 class="title is-3 has-text-centered">Program Breakdown</h2>
    <p class="is-size-5 has-text-centered mb-6">
      In <strong>Self Monetization</strong> you will learn:
    </p>
    <ul>
      <li>The foundational information for succeeding as a value creator</li>
      <li>The unconventional mindset you need to thrive</li>
      <li>The relationship between skills, interests, and expertise</li>
      <li>How to communicate your value and price it</li>
      <li>The only way to build a sustainable income source with your creations</li>
      <li>How to be taken seriously for original and impactful work</li>
      <li>Actionable steps to grow on social media, network, and make your first sale</li>
    </ul>
  </div>
  
</section>

