<section class="section has-background-black has-text-white">
  <div class="container">
    <div class="card" style="position: relative; padding-top: 3rem">
      <!-- Top Center Image -->
      <figure
        class="image is-96x96 is-inline-block"
        style="
          position: absolute;
          top: -48px;
          left: 50%;
          transform: translateX(-50%);
          border: 4px solid white;
          border-radius: 50%;
        "
      >
        <img
          class="is-rounded"
          src="/assets/img/avatar(1).jpg"
          alt="Author Image"
        />
      </figure>

      <!-- Card Content -->
      <div class="card-content">
        <h3 class="title is-5">A Quick Disclaimer From Your Instructor:</h3>

        <p> Let's set the scene quick.</p>

        <p>This program does not promise that you will make $1 million in a short amount of time (or whatever crazy promises are out there).</p>

        <p>It doesn't promise anything for that matter.</p>

        <p>It will simply give you the education, strategies, and knowledge to monetize your brand or business in a profitable way – without time-sucking client work.</p>

        <p>This program teaches you digital marketing and product development as a skill you can add to your portfolio... but unlike most you'll find on cheap course platforms.</p>

        <p>You will receive the exact strategies I used to:</p>

        <ul>
            <li>- Make $3,000 a month starting from scratch in 2019.</li>

            <li>- Make over $100,000 in my first year of online business.</li>

            <li>- Hit my first $50,000 month in 2020.</li>

            - Make $687,886 in less than 30 days with a product launch in 2023.
            - Make $759,900 with a new business in 6 months in 2024.
            - Have anywhere from $25k to $100k days over the years with varying promotions.
            - Build and launch 6+ free products that built a 170,000+ newsletter audience.
            - Build and launch 10+ courses and cohorts with 20,000+ students.
            - Build and launch a special edition of my first book to 1,800 buyers.
            - Write and launch my first book to 20,000+ buyers in less than 60 days.
            </ul>
            All without a publisher, investors, etc.
            All thanks to the internet making creative work accessible to anyone.
            (These results will depend on your experience level and how long you can fail through the process).
            If you don't think these results are possible, you aren't part of my audience I am offering this to. I'm offering this to the serious business owners who aren't in the employee "tell me what to do and pay me a set amount for life" mindset.
            I didn't plan on releasing this program.
            I thought it would be boring... but I guess the boring actions are the ones that get the most results.
            But when high-level creators, influencers, and founders trying to win back some time reached out for my product strategy, I decided it was time to release the information.

        
      </div>
    </div>
  </div>
</section>
