<section
  class="section is-8 column offset-1 has-background-black has-text-white"
>
  <div class="container">
    <div class="card" style="position: relative; padding-top: 3rem">
      <!-- Top Center Image -->
      <figure
        class="image is-96x96 is-inline-block"
        style="
          position: absolute;
          top: -48px;
          left: 50%;
          transform: translateX(-50%);
          border: 4px solid white;
          border-radius: 50%;
        "
      >
        <img
          class="is-rounded"
          src="/assets/img/avatar(1).jpg"
          alt="Author Image"
        />
      </figure>

      <!-- Card Content -->
      <div class="card-content">
        <h3 class="title is-5">A Quick Disclaimer From Your Instructor:</h3>

        <p>Let's set the scene quick.</p>

        <p>
          This program does not promise that you will make $1 million in a short
          amount of time (or whatever crazy promises are out there).
        </p>

        <p>It doesn't promise anything for that matter.</p>

        <p>
          It will simply give you the education, strategies, and knowledge to
          monetize your brand or business in a profitable way – without
          time-sucking client work.
        </p>

        <p>
          This program teaches you digital marketing and product development as
          a skill you can add to your portfolio... but unlike most you'll find
          on cheap course platforms.
        </p>

        <p>You will receive the exact strategies I used to:</p>

        <ul>
          <li>Make 2k/month starting from scratch in 2019.</li>

          <li>Build online businesses that host 2k students.</li>

          <li>Build digital products that sell repeatedly.</li>
        </ul>

        <p>
          (These results will depend on your experience level and how long you
          can fail through the process).
        </p>

        <p>
          If you don't think these results are possible, you aren't part of my
          audience I am offering this to. I'm offering this to the serious
          business owners who aren't in the employee "tell me what to do and pay
          me a set amount for life" mindset.
        </p>

        <p>I didn't plan on releasing this program.</p>

        <p>
          I thought it would be boring... but I guess the boring actions are the
          ones that get the most results.
        </p>

        <p>
          But when high-level creators, influencers, and founders trying to win
          back some time reached out for my product strategy, I decided it was
          time to release the information.
        </p>
      </div>
    </div>
  </div>
</section>
