<section class="section column is-8 is-offset-2">
    <div class="container">
      <div class="has-text-centered mb-6">
        <p
          class="is-uppercase has-text-weight-bold has-text-warning mb-2"
          style="letter-spacing: 2px"
        >
          FAQ
        </p>
        <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
            Answers To Your Questions        </h1>
        <p class=" has-text-white mb-2">Make sure you are making the right decision.</p>
  
        <div class="content article-body has-text-white has-text-left is-size-5">
          <p>
            If you are reading this, I am assuming you follow me on social media.
          </p>
  
          <p>
            This isn’t an ad where you have zero trust built before buying a
            product.
          </p>
  
          <p>With that, there are no refunds on this product. No exceptions.</p>
  
          <p>Why?</p>
  
          <p>
            <b>1) Personal responsibility is a value of mine.</b> Don’t make a
            purchase and back out because you don’t want to put in the work.
          </p>
  
          <p>
            <b>2) It’s a digital product.</b> There isn’t a way to return the
            product. Meaning there has to be a consequence for those that are
            trying to freeload.
          </p>
  
          <p>
            I have full confidence that the material in this course is accurate to
            what is promised on this page.
          </p>
  
          <p>
            This is the system I give my clients that come to me for content help.
            I always get the same message, they can't stop telling me how many
            "epiphanies" they have after I share this with them.
          </p>
  
          <p>Think twice before you buy if you are acting on impulse.</p>
        </div>
      </div>
    </div>
  </section>
  