<section class="section column is-8 is-offset-2">
  <div class="container">
    <div class="has-text-centered mb-6">
      <p
        class="is-uppercase has-text-weight-bold has-text-warning mb-2"
        style="letter-spacing: 2px"
      >
        WORK IS CHANGING
      </p>
      <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
        Welcome To The New Economy (A Creative's Dream)
      </h1>
      <p class="is-size-5 has-text-grey-light">
        Anyone can build a product that sells while they sleep.
      </p>
    </div>
    <div class="card" style="position: relative; padding-top: 1rem">
      <!-- Top Center Image -->

      <!-- Card Content -->
      <div class="card-content">
        <div class="content article-body is-size-5">
          <div class="inner">
            <p id="text265">
              <span class="p"
                >I've always had the dream of doing what I loved for a
                living.</span
              ><span class="p">Who hasn't?</span
              ><span class="p"
                >So I tried and failed at dropshipping, e-commerce, digital art,
                photography, YouTube, agency work, and more.</span
              ><span class="p"
                >I finally saw some success with freelance web design.</span
              ><span class="p">Enough to quit my job and go all in.</span
              ><span class="p"
                >1 year later, I realized that I built myself into a new 9 to
                5.</span
              ><span class="p"
                >I quit my job because I loved building
                <em>my own</em> projects.</span
              ><span class="p"
                >I thought freelancing was the answer, but I was spending
                countless hours <strong>still</strong> doing work for other
                people.</span
              ><span class="p"
                >So I tried coaching (and made a decent amount of money) but was
                met with the same story.</span
              ><span class="p"
                ><strong
                  >I became a creative because I wanted to focus on my
                  CRAFT.</strong
                ></span
              ><span class="p"
                >I wanted to do my own thing, not someone else's, so why did I
                keep falling into that trap?</span
              ><span class="p">This is when I made a crucial realization:</span
              ><span class="p"
                >I had to earn with my mind, not my time, as Naval would
                say.</span
              ><span class="p">This realization led me to social media.</span
              ><span class="p"
                >If I wanted full control over my time and income, I had to
                focus on building a digital product.</span
              ><span class="p">Why a digital product?</span>
            </p>
            <div id="list18" class="list">
              <ul>
                <li>
                  <p>
                    <strong>Low-marginal cost of replication</strong> – You can
                    build the product once and sell it forever without investing
                    in more inventory or property.
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Can be scaled as one person</strong> – All you need
                    to do is focus on building an audience (the fun stuff) to
                    fuel the digital product.
                  </p>
                </li>
                <li>
                  <p>
                    <strong
                      >You remove the cap on your earning potential</strong
                    >
                    – The amount of money you make is determined by (1) how good
                    your product is and (2) how much relevant traffic you send
                    to it with an audience, paid ads, or other beginner methods
                    you learn in the course.
                  </p>
                </li>
              </ul>
            </div>
            <p id="text214">
              <span class="p"
                >Building a digital product is what allowed me to take my
                one-person business to $5 million+ in revenue working four hours
                a day (because I don't need to spend time delivering the
                product).</span
              ><span class="p"
                >It gave me the cash flow to invest in my new company without VC
                or investors.</span
              ><span class="p"
                >Freelancers and coaches will scream, "That's not possible!"
                because they still have the employee mindset.</span
              ><span class="p"
                >They don't understand that
                <strong
                  >once you have a digital product the amount of money you make
                  is determined by how much traffic you send to the
                  product.</strong
                ></span
              ><span class="p"
                >If I have a digital product that requires close-to-zero time
                from me, what's stopping me from creating content all day to
                build an audience to fuel that product?</span
              ><span class="p"
                >I had a few more profound realizations as my journey went
                on:</span
              >
            </p>
            <p id="text212">
              1) Micro Education Businesses Are The Future Of Schooling
            </p>
            <p id="text267">
              <span class="p"
                >I'm convinced that the future of schooling will be done on the
                internet</span
              ><span class="p">With creators as teachers…</span
              ><span class="p"
                >And each student can learn from those who align with their
                interests, worldview, and skill level until their needs
                inevitably change.</span
              ><span class="p">Can you not see this happening already?</span>
            </p>
            <div id="list20" class="list">
              <ul>
                <li>
                  <p>
                    People have
                    <strong>lost trust in the traditional school system</strong>
                    to secure their future
                  </p>
                </li>
                <li>
                  <p>
                    People are
                    <strong>turning to creators to teach them</strong> valuable
                    knowledge and skills
                  </p>
                </li>
                <li>
                  <p>
                    The creators are
                    <strong
                      >attracting people with similar personalities</strong
                    >
                    for an optimal learning experience
                  </p>
                </li>
                <li>
                  <p>
                    <strong
                      >AI and automation are threatening labor jobs</strong
                    >
                    and enabling online businesses to do more with less
                    employees
                  </p>
                </li>
              </ul>
            </div>
            <p id="text240">
              <span class="p"
                >People are realizing that the only way to secure their future
                is to acquire valuable skills, knowledge, and interests that
                they can pass down to others online.</span
              ><span class="p"
                ><em
                  >They <strong>aren't</strong> worried about becoming an
                  <strong>influencer.</strong></em
                ></span
              ><span class="p"
                ><em
                  >They <strong>are</strong> dedicated to becoming a
                  <strong>value creator.</strong></em
                ></span
              ><span class="p"
                >Have you not already learned from creators teaching things like
                <strong
                  >marketing, sales, psychology, self-improvement, fitness,
                  graphic design, video editing, photography, AI, woodworking,
                  car building, no-code tools... or any other possible interest
                  imaginable?</strong
                ></span
              ><span class="p"
                >Do you often think,
                <em
                  >"I know all of this stuff... I could do the same thing."</em
                ></span
              ><span class="p"
                >If so, what's stopping you aside from your own limiting beliefs
                and conditioning?</span
              >
            </p>
            <p id="text213">
              2) Everyone Should Have A Digital Product That Makes $10K/month
            </p>
            <p id="text281">
              <span class="p">How to start a billion-dollar company:</span
              ><span class="p">Don't.</span
              ><span class="p">Start as one person.</span
              ><span class="p">Pursue a goal in your life.</span
              ><span class="p"
                >Acquire the knowledge and skills to achieve that goal.</span
              ><span class="p"
                >Sell it to people who want to achieve that same goal.</span
              ><span class="p"
                >If you can't do that, why do you think you'll be able to build
                any other kind of business?</span
              ><span class="p"
                ><em
                  >Personal growth is about solving problems in your life.</em
                ></span
              ><span class="p"
                ><em
                  >Entrepreneurship is about solving problems in others
                  life.</em
                ></span
              ><span class="p"
                >When you do both, you unlock purpose, meaning, and
                fulfillment.</span
              ><span class="p"
                ><em
                  ><strong
                    >"Okay, I've achieved a goal, how do I turn that into a
                    product that earns a living?"</strong
                  ></em
                ></span
              >
            </p>
            <div id="list19" class="list">
              <ul>
                <li>
                  <p>
                    <strong>Build a tutorial</strong> – Sell a beginner-level
                    tutorial of a specific skill, practice, or interest. Web
                    design, building cars, Photoshop, guitar.
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Build a program</strong> – Sell an action plan or
                    program that people can adopt as a daily routine. Fitness,
                    productivity, self-improvement, etc.
                  </p>
                </li>
                <li>
                  <p>
                    <strong>Build a system</strong> – Sell a system that people
                    can implement into their work or business. Lead generation,
                    content creation, etc.
                  </p>
                </li>
              </ul>
            </div>
            <p id="text100">
              <span class="p"
                >Most smart individuals can replace their income, pay their
                bills, or just have extra spending money.</span
              ><span class="p"
                >Let's say your goal is $54K/year (an average salary).</span
              ><span class="p">That's $4,500 per month.</span
              ><span class="p">Or $150 per day.</span
              ><span class="p">That means you have to sell:</span
              ><span class="p">1 product a day at $150</span
              ><span class="p">Or 3 products a day at $50</span
              ><span class="p">Or 10 products a day at $15</span
              ><span class="p">What can you sell at those price points?</span
              ><span class="p">Almost anything in your head.</span
              ><span class="p"
                >For creators, it's obvious that this should be the first
                step.</span
              ><span class="p"
                >To generate cash flow to replace their income and go all in on
                business.</span
              ><span class="p"
                >For established businesses, it's a viable option to add a new
                revenue stream at 95%+ profit margins.</span
              >
            </p>
            <p id="text167">3) Turn Yourself Into The Business</p>
            <p id="text242">
              <span class="p"
                >If you've solved a problem in your life, you're qualified to
                start a business.</span
              ><span class="p"
                >Not just any business, an education business with minimal
                startup costs.</span
              ><span class="p"
                >Once you have cash to invest in your dreams of owning a huge
                company, you can, or you can sail off into the sunset and enjoy
                the free time you have.</span
              ><span class="p">How do you do it?</span
              ><span class="p">First, understand why people buy a product.</span
              ><span class="p"
                ><strong>They want to see a transformation.</strong></span
              ><span class="p"
                >They want to see a slight or drastic improvement in one area of
                their life.</span
              ><span class="p"
                >They want to
                <em
                  >increase their market value through skill acquisition,
                  productivity, and self-improvement.</em
                ></span
              ><span class="p"
                >They want to
                <strong
                  >make more money, free up time, and increase their quality of
                  life.</strong
                ></span
              ><span class="p">So, we start with the eternal markets.</span
              ><span class="p"
                ><strong
                  >Health, wealth, relationships, and happiness.</strong
                ></span
              ><span class="p"
                >If you have experience in any of those domains, you're good to
                go.</span
              ><span class="p"
                >That is how we position any product we sell.</span
              ><span class="p">Now, follow these steps:</span>
            </p>
            <div id="list06" class="list">
              <ul>
                <li><p>Turn yourself into your customer avatar</p></li>
                <li><p>List out your interests</p></li>
                <li><p>List out your goals</p></li>
                <li><p>List out your problems</p></li>
                <li>
                  <p>
                    List out the exact steps to overcome the problem and achieve
                    the goal
                  </p>
                </li>
              </ul>
            </div>
            <p id="text101">
              <span class="p"
                >The problem and goal = the transformation for your
                marketing.</span
              ><span class="p"
                >The steps to reach the goal is your system for getting
                results.</span
              ><span class="p"
                >Slap a compelling name on the system and it's unique to
                you.</span
              ><span class="p"
                >Now, turn it into a course, coaching, cohort, workshop,
                template, checklist, system, tutorial, program, tracker, or
                anything else you’ve seen other brands or creators sell.</span
              >
            </p>
            <p id="text22">4) Build For Yourself, Sell To Yourself</p>
            <p id="text291">
              <span class="p"
                >Most businesses fail because they try to solve a problem they
                haven't experienced.</span
              ><span class="p"
                ><em>"But Dan, I still don't know what to sell!"</em></span
              ><span class="p">Look at almost any successful entrepreneur.</span
              ><span class="p">What do they do?</span
              ><span class="p"
                >They solve a problem in their life and sell the solution.</span
              ><span class="p"
                >From bars of home-formulated soap that helps with eczema to a
                habit tracking Notion template or self-taught meditation
                practice.</span
              ><span class="p">Some general rules of thumb to follow:</span>
            </p>
            <div id="list05" class="list">
              <ul>
                <li><p>Build a product you've used before, but better.</p></li>
                <li><p>Build a product you want but doesn't exist.</p></li>
                <li>
                  <p>Build a product that solves a problem in your life.</p>
                </li>
              </ul>
            </div>
            <p id="text168">
              <span class="p">You are the most profitable niche.</span
              ><span class="p"
                >When you build a product that you would use...</span
              ><span class="p">And sell it under your own name...</span
              ><span class="p"
                >To people that have a similar personality, interests, and
                goals...</span
              ><span class="p">You eliminate most competition.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
