<section class="section column is-8 is-offset-2">
  <div class="container">
    <div class="has-text-centered mb-6">
      <p
        class="is-uppercase has-text-weight-bold has-text-warning mb-2"
        style="letter-spacing: 2px"
      >
        WHAT'S INSIDE
      </p>
      <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
        Self Monetization: Turn Your Knowledge Into A Hyper Profitable Digital
        Product
      </h1>
      <p class="is-size-5 has-text-grey-light">Exactly What You'll Learn.</p>
    </div>
    <div class="card" style="position: relative; padding-top: 1rem">
      <!-- Top Center Image -->

      <!-- Card Content -->
      <div class="card-content">
        <div class="content article-body is-size-5">
          <p>People no longer care about extreme false promises.</p>

          <p>
            You don't have to sell your soul by promising people they will make
            1 million dollars in 30 days.
          </p>

          <p>
            People want clear education from someone who is 1 to 2 steps ahead
            of them.
          </p>

          <p>
            <em
              >That's what makes for a great product and learning experience
              that gets results.</em
            >
          </p>

          <p>
            In other words, you don't need a ton of experience to make this
            work.
          </p>

          <p>Think about it.</p>

          <p>
            Someone who hires a personal trainer probably doesn't want to be
            trained by a bodybuilder.
          </p>

          <p>They will be insecure the entire time.</p>
          <p>
            They want to be trained by someone who is close to their level, even
            if that trainer is overweight and doesn't eat the perfect diet.
          </p>

          <p>
            No matter your experience level, here's what you will learn in the
            course.
          </p>

          <ul>
            <li>
              <p>
                <strong>How To Come Up With A Profitable Idea</strong> – Turn
                your goals, interests, and skills into a product idea that
                others actually want.
              </p>
            </li>
            <li>
              <p>
                <strong>How To Eliminate Competition</strong> – Turn yourself
                into your customer avatar so people have no choice but to buy
                from you.
              </p>
            </li>
            <li>
              <p>
                <strong>Building A Marketing Strategy</strong> – Use your own
                transformation as an authentic marketing strategy.
              </p>
            </li>
            <li>
              <p>
                <strong>Creating A Unique Mechanism</strong> – Most people skip
                the step that separates their product from others in their
                market. Getting this part right determines your success.
              </p>
            </li>
            <li>
              <p>
                <strong>How To Write An Authentic Sales Page</strong> – No
                countdown timers or flashing banners. Just a clear and
                persuasive page that focuses on value (so you can sleep at
                night).
              </p>
            </li>
            <li>
              <p>
                <strong>How To Structure Your Digital Product</strong> – Exactly
                what you need to put in the product for it to be a success.
              </p>
            </li>
            <li>
              <p>
                <strong>The Simplified Launch Strategy</strong> – Make sure that
                your product gets customers. Don't launch to a crowd of
                uninterested people.
              </p>
            </li>
            <li>
              <p>
                <strong>How To Earn A Living With Zero Followers</strong> -
                Learn how I made 2k/month as a complete beginner with less than 500 followers (and
                how I would do it again on any social media platform).
              </p>
            </li>
            <li>
              <p>
                <strong>Strategies To Keep Sales High And Consistent</strong> –
                Most digital products die off after launch. I give you
                strategies to extend the sales for years to come.
              </p>
            </li>
            <li>
              <p>
                <strong
                  >How To Sell Your Product Without Seeming Like A
                  Grifter</strong
                >
                –&nbsp;Use my honest promotion strategy to turn readers into
                buyers without hurting your reputation.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
