<section class="section has-text-white">
  <div class="container has-text-white">
    <h2 class="title is-3 has-text-centered has-text-white">What You’ll Learn</h2>
    <div class="columns is-multiline">
      <div class="column has-text-white is-6">
        <ul>
          <li><strong>How To Come Up With A Profitable Idea</strong> – Turn your goals, interests, and skills into a product idea that others actually want.</li>
          <li><strong>How To Eliminate Competition</strong> – Turn yourself into your customer avatar so people have no choice but to buy from you.</li>
          <li><strong>Building A Marketing Strategy</strong> – Use your own transformation as an authentic marketing strategy.</li>
          <li><strong>Creating A Unique Mechanism</strong> – Get this step right and separate your product from others in the market.</li>
          <li><strong>How To Write An Authentic Sales Page</strong> – Clear, persuasive, and focused on value (no gimmicks).</li>
        </ul>
      </div>
      <div class="column has-text-whiteis-6">
        <ul>
          <li><strong>How To Structure Your Digital Product</strong> – Exactly what to include to ensure success.</li>
          <li><strong>The Simplified Launch Strategy</strong> – Launch with buyers, not crickets.</li>
          <li><strong>How To Earn A Living With Zero Followers</strong> – Learn how I made 10k/month with less than 500 followers.</li>
          <li><strong>Strategies To Keep Sales High</strong> – Extend sales long after launch.</li>
          <li><strong>How To Sell Without Seeming Like A Grifter</strong> – My honest promotion system.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
