<section class="section has-background-black has-text-white">
    <div class="container">
      <!-- Intro Text -->
      <div class="has-text-centered mb-6">
        <p class="is-uppercase has-text-weight-bold has-text-warning mb-2" style="letter-spacing: 2px;">
          CREATE OR CREATED
        </p>
        <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
          If You Don't Have A Product, <br> You Don't Control Your Income
        </h1>
        <p class="is-size-5 has-text-grey-light">
          A digital-first approach.
        </p>
      </div>
  
      
  
        <!-- RIGHT: Bio -->
        <div class="column is-8 is-offset-2">
          <h2 class="title is-3 has-text-white has-text-weight-bold mb-3">
            Hey, I'm Patrick
          </h2>
          
          <p class="is-size-5">
            The greatest killer of any entrepreneur's dreams:
They launch the product they poured their time, energy, and heart into to face the one thing they feared all along...
Nobody cares about their product.
Nobody wants to buy the ONE thing that is responsible for letting them finally take control of their life.
Even worse, some don't even make it that far.
They have dreams of becoming an entrepreneur, but they do everything except for the one thing that will make them a success.
They write content.
They make videos.
They build a network.
They create a website.
They design a logo.
They send a few emails.
But they're afraid... or they just don't realize... that in order to make money outside of a job (or second job called client work) they need to sell a product.
It's not optional.
That's what you're doing for your employer or client anyway.
You are given a set amount of tasks for a set amount of income so your employer can deliver the product that THEIR customers are paying for.
Okay okay, you get it, you need to build a product (and if you think that's a bad thing you've already lost and you're doomed to selling a product for someone else your entire life).
But then what?
How do you come up with a profitable idea? Market it? Build a sales page? Craft a launch strategy? Keep sales high? Do it as one person when companies have big teams on hand?
We'll get to that.
First, you're free to leave the page if none of these points relate to you. You don't need to waste your time here if it isn't for you.
          </p>
      
      </div>
    </div>
  </section>
  