<section class="section has-background-black has-text-white">
  <div class="container">
    <!-- Intro Text -->
    <div class="has-text-centered mb-6">
      <p class="is-uppercase has-text-weight-bold has-text-warning mb-2" style="letter-spacing: 2px;">
        CREATE OR CREATED
      </p>
      <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
        If You Don't Have A Product, <br> You Don't Control Your Income
      </h1>
      <p class="is-size-5 has-text-grey-light">
        A digital-first approach.
      </p>
    </div>



    <!-- RIGHT: Bio -->
    <div class="content article-body column is-8 is-offset-2 is-size-5">

      <p> The greatest killer of any creator/entrepreneur's dreams:</p>

      <p> They launch the product they poured their time, energy, and heart into to face the one thing they feared all
        along...</p>

      <p> Nobody cares about their product.</p>

      <p> Nobody wants to buy the ONE thing that is responsible for letting them finally take control of their life.</p>

      <p> Even worse, some don't even make it that far.</p>

      <p> They have dreams of becoming an entrepreneur, but they do everything except for the one thing that will make
        them a success.</p>

      <p> They write content.</p>

      <p> They make videos.</p>

      <p> They build a network.</p>

      <p> They create a website.</p>

      <p> They design a logo.</p>

      <p> They send a few emails.</p>

      <p> But they're afraid... or they just don't realize... that in order to make money outside of a job (or second
        job called client work) they need to sell a product.</p>

      <p> It's not optional.</p>

      <p> That's what you're doing for your employer or client anyway.</p>

      <p> You are given a set amount of tasks for a set amount of income so your employer can deliver the product that
        THEIR customers are paying for.</p>

      <p> Okay okay, you get it, you need to build a product (and if you think that's a bad thing you've already lost
        and you're doomed to selling a product for someone else your entire life).</p>

      <p> But then what?</p>

      <p> How do you come up with a profitable idea? Market it? Build a sales page? Craft a launch strategy? Keep sales
        high? Do it as one person when companies have big teams on hand?</p>

      <p> We'll get to that.</p>

      <p>First, you're free to leave the page if none of these points relate to you. You don't need to waste your time
        here if it isn't for you.</p>

    </div>
  </div>
</section>