<section class="section has-background-black has-text-white">
  <div class="container">
    <!-- Intro Text -->
    <div class="has-text-centered mb-6">
      <p class="is-uppercase has-text-weight-bold has-text-warning mb-2" style="letter-spacing: 2px;">
        CREATE OR CREATED
      </p>
      <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
        If You Don't Have A Product, <br> You Don't Control Your Income
      </h1>
      <p class="is-size-5 has-text-grey-light">
        A digital-first approach.
      </p>
    </div>



    <!-- RIGHT: Bio -->
    <div class="content article-body column is-8 is-offset-2 is-size-5">

      <p>If you want to make money outside of a job (or second job called client work), you need to build and distribute a product.</p>

      <p>Here if I say a product I mean a product/service.</p>

      <p>I will continue repeating this until everyone and their mother realize how dependent they are on their boss for their survival because they didn’t continue to learn after (or before) leaving the school system.</p>

      <p>If you don’t create a product to sell, you will continue selling a product for someone else.</p>

      <p>The only reason you are making any form of an income right now is because you play one specific role in a company that makes the money by selling a product or service.</p>

      <p>In other words, if you want to earn your freedom, first, you need an audience, and second, you need a product by which people voluntarily trade their money for the value placed in said product.</p>

      <p>Long story short, build something you can sell or your survival, and those stress and emotions, will be like uncontrollable waves determined by a company.</p>

      <p>If you are reading this:</p>

      <ul>
        <li>You can learn anything in 3-6 months (less time if you’re obsessed, I learned to design with Canva in 3 days and my designs blew up everybody started copying me.</li>
        <li>You can write about your interests and attract an audience.</li>
        <li>You can teach your interests as a product or service with zero money to your name.</li>
        <li>Or, you can freelance with a marketable skill until you feel the need to productize and teach.</li>
      </ul>

      <p>If you want to make money in your youth, you can take the long route that your parents and teachers taught you, but most of them aren’t millionaires, so why are you listening to them?</p>

      <p>You have the ability to learn anything on the internet, build anything on the internet, and accept payment from anyone on the internet.</p>

      <p>Okay okay, you get it, you need to build a product (and if you think that's a bad thing you've already lost and you're doomed to selling a product for someone else your entire life).</p>

      <p>But then what?</p>

      <p>How do you come up with a profitable idea? Market it? Build a sales page? Craft a launch strategy? Keep sales high? Do it as one person when companies have big teams on hand?</p>

      <p>We'll get to that.</p>

      <p>First, you're free to leave the page if none of these points relate to you. You don't need to waste your time here if it isn't for you.</p>

      <p> You are given a set amount of tasks for a set amount of income so your employer can deliver the product that
        THEIR customers are paying for.</p>

      <p> Okay okay, you get it, you need to build a product (and if you think that's a bad thing you've already lost
        and you're doomed to selling a product for someone else your entire life).</p>

      <p> But then what?</p>

      <p> How do you come up with a profitable idea? Market it? Build a sales page? Craft a launch strategy? Keep sales
        high? Do it as one person when companies have big teams on hand?</p>

      <p> We'll get to that.</p>

      <p>First, you're free to leave the page if none of these points relate to you. You don't need to waste your time
        here if it isn't for you.</p>

        <h4 class="has-text-white">This Is For You If...</h4>

        <ul>

          <li>You are tired of freelancing, coaching, or client work and want <b>more control over your time and income.</b> You want to work on your own projects, not someone else's.</li>
          <li>You think monetizing your work with donations, sponsors, or YouTube ad revenue is a sustainable way to make a living (when it is unpredictable and can be ripped from you in a millisecond).</li>
          <li>You have skills, interests, and expertise you want to <b>monetize outside of a job that limits your income</b> (and probably won't promote you).</li>
          <li>You've tried starting a business but distract yourself with creating logos, building websites, and <b>never get around to creating a good product</b> (you know... the only thing that will make you money while you sleep).</li>
          <li>You've launched a product before, but like most businesses, <b>made close-to-zero sales because you didn't seek education or guidance to follow.</b></li>
          <li><b>You think your interests aren't monetizable</b> (and you don't want to seem salesy) so you prevent yourself from doing what you love.</li>
          <li>You've finally realized that you have to sell something (for yourself, not for someone else) to have full control over your income.</li>
          <li>You have no idea where to start, what to build, or <b>how to stand out in a market flooded with courses, templates, and programs.</b></li>

        </ul>


        <h4 class="has-text-white">Who Is This Not For?...</h4>

        <ul>

          <li>Those that don't see the value in personal growth and positive impact.</li>
          <li>Those that intentionally — or unintentionally — seek to harm others through negative content (certain memes, pornography, etc)</li>
          <li>Those that have a distorted perception of money, sales, and taking the impact of what you put out into the world seriously.</li>
          <li>On the business side of things — those that are set on pursuing a hyper-focused niche for freelancing, agency work, and other things.</li>

        </ul>

        <p>Self Monetization will give you the clarity, frameworks, and plan to turn the knowledge in your head into a profitable digital product.</p>

    </div>

    <div class="container has-text-centered">
    <button class="container has-text-centered">
      <a href="https://paystack.com/buy/fullstack-writer" class="card-footer-item has-text-white has-text-weight-bold" style="background: #e0c183;">
        <span class="icon mr-2"><i class="fas fa-shopping-cart"></i></span>
Enroll Now
      </a>
    </button>

    </div>

  </div>
</section>