<section class="section column is-8 is-offset-2">
    <div class="container">
        <!-- START SECTION -->
        <div class="card article has-background-black">
            <div class="card-content has-text-white">
                <div class="content article-body">
                    <p> Most people are stuck doing a job they hate, stuck in a cubile while they watch the clock, wondering how they're ever going to break free.
                    </p>

                    <p>Do you feel it in your gut? That soul crushing feeling you get when you think about where your future is heading if you don't do something about it. The one that promises "security" but delivers soul-crushing monotony and a paycheck that barely covers your bills?
                    </p>

                    <p> Your job barely cover the bills. You cannot survive even for a month if don't depend on donations and support from friends. The one that promises "security" but delivers soul-crushing monotony and a paycheck barely covers your bill?
                    </p>

                    <p>The job that promises "security" but delivers soul-crushing monotony and forces you to live paycheck?
                    </p>

                    <p>You know there's a better way to make a living, to build a life of impact and abundance, but you just don't know where to start.
                    </p>

                    <p> It feels like everyone else has it figured out, doesn't it? They're talking about "side hustles" and "passion projects," but you're still sitting there, frozen...</p>
                    
                    <ul>
                        <li>You're tired of being told to "just get a job" when your spirit craves something more.</li>
                        <li>You're sick of the feeling that your life's best years are being exchanged for a meager salary, with no real ownership or fulfillment.</li>
                        <li>You dream of a world where your interests pay the bills, where your knowledge is your most valuable asset, and where freedom isn't just a fantasy, but a daily reality.
                        </li>
                        <li>You've heard the whispers about digital products, online courses, and monetizing your expertise, but it all seems so complicated, so far out of reach.</li>
                        <li>"I don't have time." "I don't know what to do." "I need huge capital to start a business." These are the mental shackles holding you back, keeping you playing small.</li>
                    </ul>
                    <p> Your constructed objections are nothing more than a carefully constructed barriers designed to keep you subservient to those who don't want you to succeed on your own terms.</p>
                    
                    <p> There's a path where your passion fuels your income. Where your knowledge becomes your wealth. And where you never have to work another day just to "get by."</p>
                                        
            


                </div>
            </div>
        </div>
    </div>
</section>