<section
  class="section column is-8 is-offset-2">
  <div class="container">
    <div class="card" style="position: relative; padding-top: 3rem">
      <!-- Top Center Image -->
      

      <!-- Card Content -->
      <div class="card-content ">
        <h3 class="title is-5">You want to get rich.</h3>
<div class="content article-body is-size-5">

<p>Everyone does.</p>

<p>And you want to do it fast.</p>

<p>But you also want to enjoy what you do. You want meaning. You want to control how long you work so you can prioritize other areas of your life.</p>

<p>I have good news and bad news.</p>

<p>The good news is, this is possible.</p>

<p>Nobody wants to admit that they've found and exploited a shortcut, but that's what our modern world is filled with right now.</p>

<p>Digital products are a shortcut.</p>

<p>Social media is a shortcut.</p>

<p>AI is a shortcut.</p>

<p>Technology as a whole is a shortcut.</p>

<p>If you don't like the word "shortcut," exchange it with "leverage."</p>

<p>You don't have to send physical letters through the mail anymore when you can post an Instagram reel of you expressing your thoughts in your car that reaches 500,000 people. (And 500,000 is insane. You don't even need 10,000. You can also DM anyone, crazy.)</p>

<p>If you invest the time it would take to get a degree in building an email list of 50,000 like-minded readers, that’s twice the capacity of what a professional football stadium can hold. Now, if you craft a persuasive message, write a few emails, and promote a product that you’ve created as a solution to your own problems, I would not be surprised if you made the average United States salary in a month, minimum.</p>

        </div>
      </div>
    </div>
  </div>
</section>
