<section
  class="section column is-8">
  <div class="container">
    <div class="card" style="position: relative; padding-top: 3rem">
      <!-- Top Center Image -->
      

      <!-- Card Content -->
      <div class="card-content ">
        <h3 class="title is-5">You want to get rich.</h3>
<div class="content article-body is-size-5">
        
  You want to get rich.

Everyone does.

And you want to do it fast.

But you also want to enjoy what you do. You want meaning. You want to control how long you work so you can prioritize other areas of your life.

I have good news and bad news.

The good news is, this is possible.

Nobody wants to admit that they've found and exploited a shortcut, but that's what our modern world is filled with right now.

Digital products are a shortcut.

Social media is a shortcut.

AI is a shortcut.

Technology as a whole is a shortcut.

If you don't like the word "shortcut," exchange it with "leverage."

You don't have to send physical letters through the mail anymore when you can post an Instagram reel of you expressing your thoughts in your car that reaches 500,000 people. (And 500,000 is insane. You don't even need 10,000. You can also DM anyone, crazy.)

        </div>
      </div>
    </div>
  </div>
</section>
