<section class="section column is-8 is-offset-2">
  <div class="container">
    <div class="has-text-centered mb-6">
      <p
        class="is-uppercase has-text-weight-bold has-text-warning mb-2"
        style="letter-spacing: 2px"
      >
        YOUR TAKEAWAYS
      </p>
      <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
        What You Will Get Out Of This Program
      </h1>
      <p class="is-size-5 has-text-grey-light">
        Something to show for your money well spent.
      </p>
    </div>
    <div class="card" style="position: relative; padding-top: 1rem">
      <!-- Top Center Image -->

      <!-- Card Content -->
      <div class="card-content">
        <div class="content article-body is-size-5">
          <p>By the end of the program, you will have:</p>

          <ul>
            <li>A profitable idea to start your monetization journey</li>

            <li>
              A marketing strategy that sets you apart from most brands and
              creators
            </li>

            <li>
              A landing page that is more compelling than 99% of products on the
              market
            </li>

            <li>
              A launch strategy that you can repeat over and over as you grow
            </li>

            <li>
              A completed digital product that you can start selling immediately
            </li>
          </ul>

          <p>
            If you do exactly as I say, you won't have a problem planning,
            building, and launching a profitable digital product.
          </p>

          <div class="container">
            <div class="inner">
              <p id="text261"><u>Before</u> Mental Monetization</p>
              <div id="list04" class="list">
                <ul>
                  <li><p>No idea how to monetize</p></li>
                  <li><p>Trapped working for other people</p></li>
                  <li><p>Zero control over the time in your day</p></li>
                  <li><p>A lack of purpose in your work</p></li>
                </ul>
              </div>
              <p id="text246"><u>After</u> Mental Monetization</p>
              <div id="list01" class="list">
                <ul>
                  <li><p>Confidence in your ability to monetize</p></li>
                  <li><p>One step closer to working for yourself</p></li>
                  <li>
                    <p>A set of high-income skills that you have forever</p>
                  </li>
                  <li><p>A sense of meaning in your work</p></li>
                </ul>
              </div>
              <p id="text244">
                <strong>The real question:</strong> do you want to wait until
                building a product to secure your future isn't optional? Or do
                you want to start the process now so you have time to make it
                work?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
