<section class="section column is-12">
    <div class="container">
      <div class="has-text-centered mb-6">
        
        <p
          class="is-uppercase has-text-weight-bold has-text-warning mb-2"
          style="letter-spacing: 2px"
        >
          BONUSES
        </p>
        <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
          Templates & Trainings To Increase Your Sales
        </h1>
        <p class="is-size-5 has-text-grey-light">Strategies from private sessions.</p>
      </div>

  
        <!-- Card Content -->
        <!-- START SECTION -->
        <div class="card article has-background-black">
            <div class="card-content has-text-white">
                <div class="content article-body is-size-5">
            
            <div class="inner"><div><p id="text245">BONUS #1</p><p id="text58">Product Systems &amp; Templates</p><p id="text59">Get fill-in-the-blank Notion or Kortex templates for your marketing strategy, sales page copywriting, and launch strategy so you can maximize your product's revenue.</p></div><div><p id="text247">BONUS #2</p><p id="text208">A Practical Way To Create Your Niche Of One</p><p id="text211">Don't find a niche, create one so you have close-to-zero competition for your brand and products.</p></div></div>

            <div id="container56" class="container columns full screen"><div class="wrapper"><div class="inner"><div><p id="text248">BONUS #3</p><p id="text05">Creating A Brand Worth 100,000 Followers</p><p id="text32">A private recording from previous client work for optimizing your social profile to attract more people to your product.</p></div><div><p id="text263">BONUS #4</p><p id="text134">How To Write Viral Threads</p><p id="text163">A 1-hour long training on how to write viral social media content. Use this to send traffic to your product and make consistent sales.</p></div></div></div></div>

            <div class="inner"><div><p id="text188">BONUS #5</p><p id="text262">Your Brand's Foundational Digital Product</p><p id="text278">Learn what the first product you create under your brand should be to maximize sales and longevity.</p></div><div><p id="text287">BONUS #6</p><p id="text288">How To Control Your Growth On Social Media</p><p id="text289">You need people to see your product if you want it to make sales. This training will show you the only way to grow on socials.</p></div></div>

            <div class="inner"><div><p id="text266">BONUS #7</p><p id="text217">How To Build A Micro Product</p><p id="text227">Learn how to see predictable spikes and revenue every month with a product that takes less than a week to build and launch.</p></div><div></div></div>

          </div>
        </div>
      </div>
    </div>
  </section>
  