<div class="section has-text-centered">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-5">
        <figure class="image is-250x250 is-inline-block">
          <img
            class="is-rounded"
            src="assets/img/patrick.png"
            alt="Patrick Kyei"
          />
        </figure>
        <div class="social-icons">
          <!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
          <a href="#"><i class="fab fa-twitter"></i></a>
          <!-- <a href="#"><i class="fab fa-youtube"></i></a> -->
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>


      <div class="column is-9 has-text-left">
        <h1 class="title is-2">Hi, it's Patrick Kyei here.</h1>
        <p class="subtitle">I'm a Value Creator, Writer and Founder.</p>
        <h3 class="title is-4">
          I build stuff on the interet and write about it.
        </h3>
        <p class="subtitle">
          I’m a Career Coach for Career Navigators and Business Consultant for
          small Business Owners.
        </p>
        <p>
          As someone who is passionate about innovation, I am always involved
          with initiatives that seek to upskill people from all walks of life
          with the ability to use technology to better themselves in the way
          that they live and work in the digital economy.
        </p>
        <p>
          I write to expand the collective consciousness. And if I can play some
          role in your life to help you go to a new place, I’d be happy,
          honored, and fortunate to do so.
        </p>
        <p class="has-text-weight-bold">
          Find free and paid products in the resources section on the page.
        </p>
      </div>
    </div>
  </div>
</div>
