<div class="section has-text-centered">
    <div class="container">
        <h2 class="title is-4">ABOUT ME</h2>
        <h1 class="title is-2">Who Is Patrick Kyei</h1>
        <p class="subtitle">Just a human obsessed with humans.</p>
        <div class="columns is-centered">
            <div class="column is-5">
                <figure class="image is-250x250 is-inline-block">
                    <img class="is-rounded" src="assets/img/patrick.png" alt="Patrick Kyei">
                </figure>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="column is-10 has-text-left">
                <h3 class="title is-4">Hey, I'm Patrick.</h3>
                <p class="subtitle">I’m a brand advisor for 7-8 figure creators, influencers, and social media brands.</p>
                <p>
                    I’m the guy they come to when they feel the lack of authenticity in their messaging, vision, and lifestyle.
                    No fancy sales funnels and pushy marketing in this household.
                </p>
                <p>
                    I help them systemize their workflow, marketing, and content so they can work for 2 hours a day,
                    charge more, and sell their products & services without manual effort.
                </p>
                <p>
                    As a freelancer turned consultant turned creator, I’ve developed effective systems with time, skin in the game,
                    and experience with 20,000+ students and clients.
                </p>
                <p class="has-text-weight-bold">I am not taking on any consulting or advising at this time.</p>
            </div>
        </div>
    </div>
</div>
