<div class="section has-text-centered author-profile">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-5">
        <figure class="image is-250x250 is-inline-block">
          <img
            class="is-rounded"
            src="assets/img/patrick.png"
            alt="Patrick Kyei"
          />
        </figure>
        <div class="social-icons is-flex">
          <p class= "image is-24x24">
            <a href="https://facebook.com/thepatrickkyei"
              ><img src="assets/img/facebook-icon.svg" alt="Facebook"
            /></a>
          </p>

          <p class="image is-24x24">
            <a href="https://linkedin.com/in/thepatrickkyei"
              ><img src="assets/img/linkedin-icon.svg" alt="LinkedIn"
            /></a>
          </p>

          <p class="image is-24x24">
            <a href="https://instagram.com/thepatrickkyei"
              ><img src="assets/img/instagram-icon.svg" alt="Instagram"
            /></a>
          </p>

          <p class="image is-24x24">
            <a href="https://youtube.com/@thepatrickkyei"
              ><img src="assets/img/youtube-icon.svg" alt="LinkedIn"
            /></a>
          </p>
        </div>
      </div>


      <div class="column is-9 has-text-left">
        <h1 class="title is-2">Hi, I'm Patrick.</h1>
        <p class="subtitle"><b>I'm a value creator, writer and founder.</b> 
          I went from being broke and mentally exhausted to building a dropshipping business, 
          pursuing what I love, and taking control of my life's schedule.</p>

        <p>I write about <b>business, productivity, and human potential,</b> 
          aiming to give you a unique, digestible way to improve your life.
          If I can play some role in your life to help you go to a new place, I’d be happy,
          honored, and fortunate to do so.</p>
        </p>
        <p class="has-text-weight-bold">
          Find both free and paid resources in the Resources section on this page.
        </p>
      </div>
    </div>
  </div>
</div>
