<section class="section call-to-action">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column is-half">
        <div class="content has-text-centered">
          <h2 class="title is-3">PK</h2>
          <p class="subtitle">Learn. Build. Earn. Expand</p>
          <p class="has-text-weight-semibold">
            I dive deep into self mastery, productivity, and internet businesses
            to give you a unique, digestible way of improving your life.
          </p>
          <div class="social-icons is-flex">
            <p class="image is-24x24">
              <a href="https://facebook.com/thepatrickkyei"
                ><img src="assets/img/facebook-icon.svg" alt="Facebook"
              /></a>
            </p>
            <p class="image is-24x24">
              <a href="https://linkedin.com/in/thepatrickkyei"
                ><img src="assets/img/linkedin-icon.svg" alt="LinkedIn"
              /></a>
            </p>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="content has-text-centered">
          <h2 class="title is-4">Gain A New Perspective On Life & Business</h2>
          <p>
            Join 1,000+ readers getting novel perspectives every Saturday - you
            may learn how to get paid while doing what you love.
          </p>

          <div id="custom-substack-embed">

            <iframe src="https://patrickkyei.substack.com/embed" width="480" height="150" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
          </div>

          
  </div>
</section>
