<section class="section call-to-action">
    <div class="container">
        <div class="columns is-variable is-8">
            <div class="column is-half">
                <div class="content has-text-centered">
                    <h2 class="title is-3">PK</h2>
                    <p class="subtitle">Learn. Build. Expand</p>
                    <p class="has-text-weight-semibold">
                        I dive deep into self mastery, productivity, and internet businesses to give you a
                        unique, digestible way of improving your life.
                    </p>
                    <div class="social-icons is-flex">
                        <p class="image is-24x24"><a href="https://facebook.com/thepatrickkyei"><img
                                    src="assets/img/twitter-icon.svg" alt="Facebook"></a></p>
                        <p class="image is-24x24"><a href="https://linkedin.com/in/thepatrickkyei"><img
                                    src="assets/img/linkedin-icon.svg" alt="LinkedIn"></a></p>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="content has-text-centered">
                    <h2 class="title is-4">Gain A New Perspective On Life & Business</h2>
                    <p>Join 1,000+ subscribers getting novel ideas every Saturday
                        - you may learn how to get paid while doing what you love.</p>

                    <div id="custom-substack-embed"></div>


                    <script>
                        window.CustomSubstackWidget = {
                            substackUrl: "patrickkyei.substack.com",
                            placeholder: "Your email",
                            buttonText: "Get Free Update",
                            theme: "custom",
                            colors: {
                                primary: "#ACABAB",
                                input: "#DFDFDF",
                                email: "#090909",
                                text: "#000000",
                            },

                            // Go to substackapi.com to unlock custom redirect

                        };
                    </script>
                    <script src="https://substackapi.com/widget.js" async></script>
                </div>
            </div>
        </div>
    </div>
</section>