<section class="hero is-fullheight is-dark">
    <div class="hero-body column is-half-desktop">
        <div class="container has-text-left">
            <h1 class="is-size-1 has-text-weight-bold">
                Learn. Build. Expand.
            </h1>
            <p class="subtitle">
                Join Patrick's Letters for actionable ideas on audience building, content systems, and human potential.
                You’ll also learn how to launch, scale, and monetize your internet business.
            </p>
            <div class="column is-left">
              <div id="custom-substack-embed"></div>


              <script>
                window.CustomSubstackWidget = {
                  substackUrl: "patrickkyei.substack.com",
                  placeholder: "example@gmail.com",
                  buttonText: "Read For Free",
                  theme: "custom",
                  colors: {
                    primary: "#ACABAB",
                    input: "#DFDFDF",
                    email: "#090909",
                    text: "#000000",
                  },
              
                  // Go to substackapi.com to unlock custom redirect
              
                };
              </script>
              <script src="https://substackapi.com/widget.js" async></script>
</section>