<section class="hero is-fullheight is-dark">
  <div class="hero-body column is-half-desktop">
    <div class="container has-text-left">
      <h1 class="is-size-1 has-text-weight-bold">
        Learn. Build. Expand.
      </h1>
      <p class="subtitle">
        Be the first to read Patrick's Letters for actionable ideas on business, productivity, and self mastery.
        You’ll also get to learn, build, and expand your personal or business brand.
      </p>
      <div class="column is-left">
        <div id="custom-substack-embed"></div>


        <script>
          window.CustomSubstackWidget = {
            substackUrl: "patrickkyei.substack.com",
            placeholder: "Your email",
            buttonText: "Get Free Update",
            theme: "custom",
            colors: {
              primary: "#ACABAB",
              input: "#DFDFDF",
              email: "#090909",
              text: "#000000",
            },

            // Go to substackapi.com to unlock custom redirect

          };
        </script>
        <script src="https://substackapi.com/widget.js" async></script>
      </div>
</section>