<section class="hero is-fullheight is-dark">
    <div class="hero-body column is-half-desktop">
        <div class="container has-text-left">
            <h1 class="is-size-1 has-text-weight-bold">
                Learn. Build. Expand.
            </h1>
            <p class="subtitle">
                Join Patrick's Letters for actionable ideas on audience building, content systems, and human potential.
                You’ll also learn how to launch, scale, and monetize your internet business.
            </p>
            <div class="column is-left">
                <div class="column is-narrow">
                    <form action="#" method="POST" class="newsletter-form">
                        <div class="field is-grouped is-flex">
                            <p class="control ">
                                <input class="input is-medium" type="email" name="email" placeholder="Your email">
                            </p>
                            <p class="control">
                                <button type="submit" class="button is-primary">Read For Free</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>