<meta property="og:locale" content="en_US" />


<!-- Open Graph meta tags -->
<meta property="og:title" content="{{ page.title | default: site.heading }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:description" content="{{ page.description | default: site.content }}" />
{% if page.image.path %}
  <meta property="og:image" content="{{ page.image.path | absolute_url }}" />
{% else %}
  <meta property="og:image" content="{{ '/assets/img/patrick1.png' | absolute_url }}" />
{% endif %}
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:site_name" content="{{ site.heading }}" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title | default: site.heading }}" />
<meta name="twitter:description" content="{{ page.description | default: site.content }}" />
{% if page.image.path %}
  <meta name="twitter:image" content="{{ page.image.path | absolute_url }}" />
{% else %}
  <meta name="twitter:image" content="{{ '/assets/img/patrick1.png' | absolute_url }}" />
{% endif %}
