<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <h1 class="title is-2">LETTERS</h1>
      <h2 class="subtitle is-4">Expand the collective consciousness</h2>
      <p class="is-size-5">
        Deep dives on business, self-mastery, & productivity.
      </p>
    </div>

    <div id="posts-container" class="columns is-multiline">
      {% for post in site.posts limit:6 %}
      <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
        <div class="card">
          <div class="card-image">
            <figure class="image is-19by10">
              <img src="{{ post.image.path }}" alt="{{ post.image.alt }}" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ post.title }}</p>
              </div>
            </div>

            <div class="is-size-7">{{ post.excerpt | strip_html}}</div>

            <div>
              <a href="{{ post.url }}">Read Full Post</a>
            </div>

            <div class="is-flex is-justify-content-space-between is-size-7">
              <p class="author-name">{{ post.author | default: site.author }}</p>
              <time datetime="{{ post.date }}" class="post-date">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="has-text-centered">
      <button id="load-more" class="button is-primary">Load More</button>
    </div>
  </div>
  <script src="{{ '/assets/js/load-more.js' | relative_url }}"></script>
</section>
