<!-- _includes/products.html -->
<section class="section products">
    <div class="container">
      <h2 class="title is-1 has-text-centered">Resources</h2>
      <p class="subtitle is-4 has-text-centered">Become A High Value Creator</p>
      <p class="has-text-centered">
        Expand your mind, become a better thinker and performer.
      </p>
      
      <div class="columns is-right is-multiline">
        <div class="column is-half">
          <div class="card">
            <div class="card-image">
              <figure class="image is-auto">
                <img src="assets/img/value-book.png" alt="The Value Creator Playbook" />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">The Value Creator Playbook</p>
                </div>
              </div>
              <div class="content">
                Write genius ideas that cause people to take action and win you followers who care about what you have to offer..
              </div>
              <div class="has-text-centered">
                <a href="https://nas.io/skillembassy/tusf" class="button is-warning">Get The Book</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="card">
            <div class="card-image">
              <figure class="image is-auto">
                <img src="assets/img/book-hub.png" alt="micro-reading" />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Micro Reading Hub</p>
                </div>
              </div>
              <div class="content">
                If you do not improve your mind, you cannot improve your life. Choose a book to read..
              </div>
              <div class="has-text-centered">
                <a href="https://nas.io/skillembassy/kpsv" class="button is-warning">Grab A Copy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="columns is-right is-multiline">
        <div class="column is-half">
          <div class="card">
            <div class="card-image">
              <figure class="image is-auto">
                <img src="assets/img/masterminds.png" alt="Skillembassy" />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Skillembassy</p>
                </div>
              </div>
              <div class="content">
                Come and learn how to monetize your creative skills. Launch an online business with real customers with your own cross-disciplinary team...
              </div>
              <div class="has-text-centered">
                <a href="https://nas.io/skillembassy/" class="button is-warning">Get Early Access</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  