<!-- _includes/products.html -->
<section class="section products">
  <div class="container">
    <h2 class="title is-1 has-text-centered">Resources</h2>
    <p class="subtitle is-4 has-text-centered">Become A High Value Creator</p>
    <p class="has-text-centered">
      Expand your mind, become a better thinker and performer.
    </p>

    <!-- ROW 1 -->
    <div class="columns is-multiline">
      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="assets/img/value-book.png" alt="The Value Creator Playbook" />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">Value Creator Writing Playbook</p>
            <p>
              You don't need an English degree to write online. Learn how to package your ideas into content that attracts the right people.
            </p>
            <div class="has-text-centered">
            <a href="https://selar.com/writing-playbook-pro" class="button is-warning">Get A Copy</a>
</div>
          </div>
        </div>
      </div>

      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="assets/img/NexusLibrary.png" alt="micro-reading" />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">Nexus Reading Hub</p>
            <p>
              If you don't improve your mind, you cannot improve your life. Choosing a book over mindless entertainment is self-discipline.
            </p>
            <div class="has-text-centered">
              <a href="https://selar.co/166p11" class="button is-warning">Grab A Book</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ROW 2 -->
    <div class="columns is-multiline">
      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="assets/img/fullstackCreator.png" alt="Microbusiness" />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">Fullstack Creator</p>
            <p>
              Turn your words into attention. Master the art of writing online to grow an audience around your work and business. <b>2000+ students already inside.</b>
            </p>
            <div class="has-text-centered">
              <a href="https://selar.com/fullstack-creator" class="button is-warning">Enroll In The Next Sprint</a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="assets/img/branding101.png" alt="Branding 101" />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">Branding 101</p>
            <p>Nobody knows you. You have to make people aware of you. The most accessible way is to learn, build and share in public.
              
            </p>
            <div class="has-text-centered">
              <a href="https://selar.com/branding101" class="button is-warning">Start For Free</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
