<!-- _includes/products.html -->
<section class="section products">
  <div class="container">
    <h2 class="title is-1 has-text-centered">Resources</h2>
    <p class="subtitle is-4 has-text-centered">Become A High Value Creator</p>
    <p class="has-text-centered">
      Expand your mind, become a better thinker and performer.
    </p>

    <div class="columns is-right is-multiline">
      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image is-auto">
              <img
                src="assets/img/value-book.png"
                alt="The Value Creator Playbook"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">The Value Creator Playbook</p>
              </div>
            </div>
            <div class="content">
              Write genius ideas that cause people to take action and win you
              followers who care about your brand..
            </div>
            <div class="has-text-centered">
              <a
                href="https://selar.co/writing-playbook-pro"
                class="button is-warning m-2 p-2"
                >Get A Copy</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image is-auto">
              <img src="assets/img/NexusLibrary.png" alt="micro-reading" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Nexus Reading Hub</p>
              </div>
            </div>
            <div class="content">
              If you don't improve your mind, you cannot improve your life.
              Choosing a book over mindless entertainment and self-deprecating
              memes is self discipline..
            </div>
            <div class="has-text-centered">
              <a href="https://selar.co/166p11" class="button is-warning"
                >Grab A Book</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-right is-multiline">
      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <figure class="image is-auto">
              <img src="assets/img/fullstackCreator.png" alt="Microbusiness" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Fullstack Creator</p>
              </div>
            </div>
            <div class="content">
              You don't need an English degree to write online. Learn how to
              package your unique ideas into content that magnetizes the right
              people to your business, work, or career..
            </div>
            <div class="has-text-centered">
              <a
                href="https://selar.com/fullstack-creator"
                class="button is-warning"
                >Enroll In Next Sprint</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
