<section class="section has-background-white has-text-black masterminds-featured">
  <div class="container">
    <div class="columns is-vcentered is-variable is-8">
      <!-- LEFT COLUMN -->
      <div class="column is-6">
        <p class="is-uppercase has-text-grey-light has-text-weight-medium mb-2" style="letter-spacing: 2px;">
          PURPOSE. PATH. PRIORITY.
        </p>

        <h1 class="title is-2 has-text-weight-bold mb-4" style="line-height: 1.3;">
          Becoming focused, fulfilled, and well-paid in the new world. </h1>

        <p class="mb-5 is-size-5">
          The modern world wants you sick, weak, and vulnerable. We help you master your mind, body, spirit, and
          business through conversations with interesting people and insights from personal experience.

          Learn how to work from anywhere, pursue a life of meaning, build an energeti...</p>
      </div>

      <!-- RIGHT COLUMN (BOOK IMAGE) -->
      <div class="column is-6 has-text-centered">
        <figure class="image is-4by3" style="max-width: 100%; height: auto; margin: 0 auto;">
          <img src="/assets/img/workspace.png" alt="Workspace" />
        </figure>
      </div>
      
    </div>
  </div>
</section>