<section class="is-medium has-text-white">
        <div class="container has-text-centered">
            <div style="max-width: 780px; margin: 0 auto">

                <h1 class="title is-1 has-text-white has-text-weight-extrabold" style="line-height: 1">
                    MASTER THE MODERN WORLD
                </h1>

                <p class="subtitle is-5 has-text-white has-text-centered" style="line-height: 1.5; max-width: 700px">
                    Exploring the intersection of personal development and online
                    entrepreneurship so you can become free and fulfilled.
                </p>

   <a href="https://paystack.shop/pay/masterminds-hq" class="button is-warning is-medium">
          <span>JOIN THE HQ</span>
        </a>
        </div>
    </div>
</section>