<section class="section has-background-black has-text-white">
    <div class="container">
      <div class="columns is-vcentered">
        <!-- Text Content -->
        <div class="column is-5">
          <h2 class="title is-3 has-text-white">
            Register Today
          </h2>
          <p class="is-size-5 mb-4">
            Learn the fundamentals of writing threads, articles, social media captions, and posts that will get more engagement than the most interesting man in the world.
          </p>
          <a href="https://paystack.com/buy/writing-sprint" class="button is-black is-medium">
            <span class="icon"><i class="fa-solid fa-rocket"></i></span>
            <span>Register Now</span>
          </a>
          <p class="is-size-7 mt-3">Registration is on a rolling basis.</p>
        </div>

        <!-- Image -->
        <div class="column is-8 has-text-centered">
          <figure class="image is-4by4" style="max-width: 400px; margin: 0 auto;">
            <img src="/assets/img/Writing.png" alt="Minimalist Writer Sprint" />
          </figure>
        </div>
      </div>
    </div>
  </section>
  