
<section class="section has-background-black has-text-white">
    <div class="container">
      <div class="columns is-vcentered is-variable is-8">
        <!-- LEFT COLUMN -->
        <div class="column is-6">
          <p class="is-uppercase has-text-white has-text-weight-medium mb-2" style="letter-spacing: 2px;">
            FOR BEGINNERS, CREATORS, & FOUNDERS
          </p>

          <h1 class="title has-text-white is-2 has-text-weight-bold mb-4" style="line-height: 1.3;">
            The Power Of Building An Audience (That Most People Avoid For Too Long)
          </h1>

          <p class="mb-5 is-size-5">
            You need people to support your work. Let's get straight to the point. You're reading this because you have skills, interests, and expertise you want to turn into your own work.
          </p>

          <a href="https://paystack.com/buy/writing-sprint" class="button is-white is-medium">
            <span class="icon"><i class="fa-solid fa-rocket"></i></span>
            <span>Register Now</span>
          </a>

          <p class="is-size-7 mt-3">
            Build a profitable brand through writing
          </p>
        </div>

        <!-- RIGHT COLUMN (PRODUCT IMAGE) -->
        <div class="column is-6 has-text-centered">
          <figure class="image is-4by4" style="max-width: 100%; height: auto; margin: 0 auto;">
            <img src="/assets/img/Writing.png" alt="Minimalist Writer Sprint" />
          </figure>
        </div>
      </div>
    </div>
  </section>
  