<section class="section has-background-white">
    <div class="container">
      <div class="has-text-centered mb-6">
        <h2 class="title is-3 has-text-black">How It Works</h2>
        <p class="subtitle is-5 has-text-grey-dark">
          A simple 2-day structure designed for clarity, action, and results.
        </p>
      </div>
  
      <div class="timeline is-centered">
  
        <header class="timeline-header">
          <span class="tag is-medium is-primary">Start</span>
        </header>
  
        <div class="timeline-item is-primary">
          <div class="timeline-marker is-primary"></div>
          <div class="timeline-content">
            <p class="heading title is-4">Foundations</p>
            <p>Creating your niche of one, identifying your domain of mastery, designing your life work and crafting a compelling vison.</p>
          </div>
        </div>
  
        <div class="timeline-item is-warning">
          <div class="timeline-marker is-warning"></div>
          <div class="timeline-content">
            <p class="heading title is-4">Content Creation & Growth Strategies</p>
            <p>Discover tools for content creation. Create a content incubator. Learn frameworks like PASO, PASTOR, and 10 Commandments Of Engagement to write content that gets attention and drives action.</p>
          </div>
        </div>
  
        
        <header class="timeline-header">
          <span class="tag is-medium is-primary">Finish</span>
        </header>
  
      </div>
    </div>
  </section>
  