<section class="section">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START SECTION -->
            <div class="card article">
                <div class="card-content">
                    <div class="media has-background-black">
                        <div class="media-content has-text-centered">
                            <p class="is-uppercase has-text-weight-bold has-text-white mb-2" style="letter-spacing: 2px;">
                                Social Media Posts Are The New MVP
                              </p>
                            <p class="title article-title has-text-white">MVP = Minimum Viable Product</p>
                                <p class="is-size-5 has-text-white mb-2">
                                    Social media, in my eyes, is a testing ground for ideas that can be distributed to higher leverage platforms.
                                  </p>
                        </div>
                    </div>

                    <div class="content article-body is-size-5">
                        <p>Post on social media.</p>

                        <p>Turn your best posts into threads and newsletters.</p>

                        <p>Turn your best threads and newsletters into free downloads.</p>

                        <p>Turn free downloads into an information product or service.</p>

                        <p>Turn your information product or service into a software, physical product, book, or other scalable business.</p>

    <h2 class="title has-text-black">You Need An Idea Catalyst</h2>

            <p>If you have low or zero followers, you will experience beginner hell.</p>

            <p>I'm not sure what people are thinking when they start, but no, the algorithm isn't going to do anything with your posts. You may get lucky, but I don't like basing my life's work off of luck.</p>

            <p>You need a way to guarantee that people see your posts. That way, you can actually see what ideas do well and which don't.</p>

            <p>In other words, you need someone with an audience to like, comment on, or share your post. Comments seem to be the most potent right now (platform-dependent).</p>

            <p>There are a few ways you can do this:</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>