<section class="section has-background-light">
        <div class="container">
            <!-- START SECTION -->
                <div class="card-content">
                    <div class="content article-body is-size-5">
                        <p>You're reading this because you have skills, interests, and expertise you want to turn into your own work.</p>

                        <p>You're a beginner who wants a business that works with any skill.</p>

                        <p>You're a creative who doesn't want to rely on publishers, record labels, or freelance platforms to find work.</p>

                        <p>You're a founder who realized the power of social media to amplify your presence and add to your business.</p>

                        <p>In other words, you need an audience.</p>

                        <p>That's business and creative work 101. You can go the paid ads route for an audience. You can go the SEO route for an audience. But if you want a route that's free, accessible, and high-leverage... you have one option.</p>

                        <p>Write online. Build a profitable brand.</p>

                        <h3>Audience building comes down to 6 things:</h3>

                        <ul>
                            <li>Testing ideas and structures on social media.</li>
                            <li>Having a catalyst strategy for new posts.</li>
                            <li>Turning best ideas into threads & newsletters.</li>
                            <li>Repurposing your writing to other platforms.</li>
                            <li>Taking advantage of exponential events.</li>
                            <li>Sending everyone to your newsletter.</li>
                        </ul>

                        <p>These are the only things you need to focus on every morning.</p>

                        <p>When done well, it should take no longer than 1-2 hours a day.</p>
                </div>
            </div>
        </div>
</section>