<!-- START SECTION -->
<div class="content has-text-white is-size-5 column is-8 is-offset-2">

    <h2 class="title has-text-black">Learn The Skill Of Audience Growth</h2>

    <p>The single biggest mistake people make is thinking that social media is some kind of lottery.</p>

    <p>They don't understand that social media is a skill that can be learned—like anything—so they go in thinking they
        can just write any old post and pray that our lord and savior the algorithm will make them rich and famous
        overnight.</p>

    <p>The reality is that when you start, absolutely nobody knows about you or cares about you.</p>

    <p>The first 6-12 months of your journey should be to prove that you have value to offer.</p>

    <p>How do you do that? Writing.</p>

    <p>Writing is the most accessible way to build a profitable brand.</p>

    <p>You don't need anything fancy.</p>

    <ul>
        <li>fancy notebooks</li>
        <li>fancy gadgets</li>
        <li>fancy setups</li>
    </ul>

    <p>What you need:</p>

    <ul>
        <li>strategy</li>
        <li>discipline</li>
        <li>consistency</li>
        <li>commitment</li>
    </ul>

    <p><b>Tweets?</b> Writing.</p>

    <p><b>Threads?</b> Writing.</p>

    <p><b>Newsletters?</b> Writing.</p>

    <p><b>Blog posts?</b> Writing.</p>

    <p><b>YouTube videos?</b> Done best with written scripts.</p>

    <p>
        <b>Instagram reels and TikToks?</b> Like reading well-written
        tweets.
    </p>

    <p>
        <b>Images on Instagram?</b> Usually designed from a well-written
        quote or saying.
    </p>

    <p>
        <b>Captions on any platform?</b> Writing that results in the most
        followers and conversions (the content itself doesn't do that.)
    </p>

    <p>
        <b>Any other form of online marketing, advertising, or
            entertainment?</b>
        Starts with writing.
    </p>

    <p>The list goes on.</p>

    <p>
        There’s a reason myself, my clients, and my friends get more
        engagement, followers, and sales than those that show off their
        booties and six packs all day:

    <p><b>High-impact digital writing.</b></p>

    </p>

    <h3 class="has-text-white">2) Employers, prospects, and potential customers are online.</h3>

    <p>It should be pretty clear by now that the world (especially commerce and work) is going
        digital.</p>

    <p>Employers are tired of sifting through terrible resumes.</p>

    <p>Instead, they are reaching out to those that are displaying their value with their "Public
        Resume" (online writing).</p>

    <p>In short, you write about what you love and opportunities find their way to you.</p>

    <p>I’m simplifying here, of course, but it’s the reality of many that are growing their audience
        with little experience with writing itself.</p>

    <p><b>The internet is an interest attractor</b> (just think about the people you follow, could
        you
        write what they write? Go and look. I bet you can).</p>


    <h3 class="has-text-white">3) The future belongs to the creative.</h3>

    <p>When I say creative, I don’t mean a creative skill like design. A skill has its limits.</p>

    <p>I’m talking about the opposite of labor, as others can be trained into labor.</p>

    <p>Creativity happens at the intersection of your genuine interests and personality.</p>

    <p>The way you solve problems based on your unique experiences is going to be different from the
        next guy.</p>

    <p>If you can cultivate your creative problem solving skills, you shouldn't have a problem in
        the emerging digital economy.</p>

    <p>If you are brand new to writing, take a look at the next Tweet you read.</p>

    <p><b>What are they doing with their writing?</b></p>

    <p>Solving problems through education, actionable advice, and unique perspectives.</p>

    <p><b>How do you pursue your genuine interests full time?</b></p>

    <p>By educating and inspiring others through writing online.</p>

    <p><b>How do you grow into your authentic self?</b></p>

    <p>Through self-awareness and understanding.</p>

    <p><b>How do you develop self-awareness and understanding?</b></p>

    <p>Journaling.</p>

    <p>AKA writing.</p>

    <p>In a public journal (the internet).</p>

    <p>All. Roads. Lead. To. Writing.</p>

    <p>If I were to go back and change one thing, it would be to learn writing first.</p>


</div>