<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8 has-text-centered">
          <h2 class="title is-3 has-text-white">Who This Is For</h2>
          <p class="is-size-5 mb-5 has-text-white">This bootcamp is perfect for:</p>
  
          <div class="columns is-multiline is-variable is-6 has-text-white">
            <div class="column is-half">
              <span class="icon has-text-success"><i class="fas fa-check-circle"></i></span>
              Beginners who want to grow online
            </div>
            <div class="column is-half">
              <span class="icon has-text-success"><i class="fas fa-check-circle"></i></span>
              Founders who want to build authority
            </div>
            <div class="column is-half">
              <span class="icon has-text-success"><i class="fas fa-check-circle"></i></span>
              Writers who want a repeatable system
            </div>
            <div class="column is-half">
              <span class="icon has-text-success"><i class="fas fa-check-circle"></i></span>
              Creators looking to monetize
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  