<section class="section has-background-black">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8 has-text-centered">
          <h2 class="title is-3 has-text-white">Who Is This For</h2>
          <p class="is-size-5 mb-5 has-text-white">DISTRIBUTION EQUALS FREEDOM</p>

          <p class="is-size-5 has-text-white">This Is For You If...</p>

          <ul class="has-text-left has-text-white is-size-5 mb-5" style="line-height: 1.8;">
            <li style="margin-bottom: 1rem;">You have difficulty writing content, threads, or long-form content and you know your success depends on your ability to be consistent.</li>
            <li style="margin-bottom: 1rem;">You are worried about automation and artificial intelligence replacing repetitive work and want to take control of your future.</li>
            <li style="margin-bottom: 1rem;">You are already writing on social media but struggle to consistently grow your audience, generate high-performing ideas, and have confidence in the topics you write about.</li>
            <li style="margin-bottom: 1rem;">You are sick and tired of learning skills that don't directly impact your ability to reach the next level of your life, business, or career.</li>
            <li style="margin-bottom: 1rem;">You don't know how to turn your writing into posts on all platforms, Instagram Reels, and podcasts in minimal time each week.</li>
          </ul>

          <p class="is-size-5 has-text-white">The Minimalist Writer Bootcamp will give you the confidence, guidance, and real-world projects that lead to years of success in your own work.</p>

          <h3 class="title is-4 has-text-white">Do I Need Experience?</h3>

          <p class="is-size-5 has-text-white">Whether you're an early starter or an underperforming intermediate, you'll learn how to go from just writing to writing that turns readers into buyers.</p>
        </div>
      </div>
    </div>
  </section>
  