---
layout: Stylesheet
---

.post-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  padding-top: 1em;
}

.post-navigation a {
  text-decoration: none;
}

.post-navigation a:hover {
  text-decoration: underline;
}

/* main-content-padding.css */
.main-content {
  padding-top: 2em; /* Adjust this value to match your navbar height */
}