<section class="section has-background-black has-text-white">

    <!-- RIGHT: Bio -->
    <div class="content article-body column is-8 is-offset-2 is-size-5">

        <h2 class="has-text-white "><b>And of course, a few bonues:</b></h2>

        <p>⚡️ Templates to write your first 10 social posts, 3 threads, and 1 newsletter (that attract and gain
            customers).</p>
        <p>When you think of starting a business, so many questions start flooding in.</p>

        <p>⚡️ Templates for your marketing strategy and offer creation that you can refer to at any time.</p>

        <p>⚡️ Tutorials and walkthrough of the software you will be using to accept payment for what you plan to sell.
        </p>

        <p>All-in-all…</p>

        <p>I created this course for my past self.</p>

        <p>This is the course I wish I had so I didn't waste my time failing at 7 business models that didn't fulfill
            me.</p>

        <p>This is what I would do if I wanted to fast-track my way to $5K and beyond.</p>
        <p>If you want to stop living in your head wondering when and if you should start the damn thing, maybe now is
            the perfect opportunity.</p>

        <p>Enroll below when you're ready.</p>

        <a href="#" class="button is-primary is-medium">
                Enroll In Bootcamp
              </a>

    </div>
</section>