<section class="section has-background-black has-text-white">
  <div class="container">
    <!-- Intro Text -->
    <div class="has-text-centered mb-6">
      <p class="is-uppercase has-text-weight-bold has-text-warning mb-2" style="letter-spacing: 2px;">
        CREATE OR BE CREATED
      </p>
      <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
        If You Don't Have A Product, <br> You Don't Control Your Income
      </h1>
      <p class="is-size-5 has-text-grey-light">
        A digital-first approach.
      </p>
    </div>



    <!-- RIGHT: Bio -->
    <div class="content article-body column is-8 is-offset-2 is-size-5">

      <p><b>"I want to start a business, but which one do I start? And how do I start it?"</b></p>

      <p>I get it.</p>
<p>When you think of starting a business, so many questions start flooding in.</p>

      <p>When I realized that a 9-5 wasn't for me, I did everything in my power to get out before other life responsibilities get in.</p>

      <p>But that meant I didn't have an <i>employer to give me a paycheck every month. It was all on me now. Every part of the business. The thought of that overwhelmed me.</i></p>

      <p>Do I need money to start?</p>

      <p>Wtf is an LLC?</p>

      <p>Taxes? Oh god.</p>

      <p>Can I do something related to my interests?</p>

      <p>Or should I sell out now and try to make money fast?</p>

      <p>I would latch onto any quick and "profitable" business model I could find.</p>

      <p>I tried dropshipping.</p>

      <p>I tried a Facebook ads agency.</p>

      <p>I tried a content marketing and SEO agency.</p>

      <p>I tried freelance photography and editing.</p>

      <p>I tried digital art on social media.</p>

      <p>Each and every one of those businesses failed.</p>

      <p>(Well, they didn't really fail, I just stopped.)</p>

      <p>But the skills I stacked during that time made it click for me:</p>

      <p><i>All successful businesses have 2 things in common:</i></p>

        <h4 class="has-text-white">1) They have somewhere to generate traffic.</h4>

      <p>This could be anything from social media to paid ads to podcast sponsorships or posting in Facebook groups.</p>


        <h4 class="has-text-white">2) They have somewhere to host and accept payment for a product or service.</h4>

        <p>This could be a Shopify store, an invoice software for freelance clients, or something like a course platform.</p>

        <p>But that's still super broad and confusing.</p>

        <p><i>The question now is, what can you start doing right now</i></p>

        <p>As one person.</p>

        <p>Without investing your life savings.</p>

        <p>In a way that works with any skill or interest…</p>

        <p>And can be scaled as far as you want to go?</p>

    </div>

  </div>
</section>