<section class="section column is-8 is-offset-2">
    <div class="container">
        <div class="has-text-centered mb-6">
            <p class="is-uppercase has-text-weight-bold has-text-warning mb-2" style="letter-spacing: 2px">
                THE ONLINE OPPORTUNITY
            </p>
            <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
                Introducing: The One-Person Business
            </h1>
            <p class="is-size-5 has-text-grey-light">
                Unblock limiting beliefs.
            </p>
        </div>
        <div class="card" style="position: relative; padding-top: 1rem">
            <!-- Top Center Image -->

            <!-- Card Content -->
            <div class="card-content">
                <div class="content article-body is-size-5">
                    <p>We don't live in the industrial age anymore.</p>


                    <p>
                        There are more options than the outdated path of <i>"go to school, get a job, maybe start a
                            local physical business that costs tens of thousands along the way, and retire at 65."</i>
                    </p>

                    <p>You have access to the internet for goodness sake.</p>

                    <p>You have access to internet courses where you can learn almost anything much faster than you
                        could with a traditional education.</p>

                    <p>And luckily, you're at that point in history where there are so many tools out there.</p>

                    <p>You can whip up a website with the click of a button.</p>

                    <p>(Which used to take 10 web developers to create).</p>

                    <p>You can post a random idea to social media and have 10,000 people see it (on the _very_ low end).
                    </p>

                    <p>And if you have a product or service, all it takes is having a tiny fraction of those people pay
                        you for your skillset and knowledge.</p>

                    <p>And that's just one social post! Imagine if you had a streamlined system to focus on every
                        morning.</p>

                    <p><b>In The One-Person Business LaunchPad, we are focused on making your first $5K.</b></p>

                    <p>That's getting a measly 5 people to purchase a $1000 service.</p>

                    <p>And yes, I help you create that too (based around your own skills and interests).</p>

                    <p>Here's what you receive that makes it very difficult to fail:</p>


                    <p>✅ The fastest way to setup your store, website, blog, and newsletter all at once.</p>
                    <p>✅ The fundamentals of online business. In other words, we answer the question, "How do I
                      _actually_ make money outside of a job?"</p>
                    <p>✅ The 3-point marketing strategy so you know exactly how to get customers (it's like a $40,000
                      marketing degree condensed into 3 sentences.)</p>
                    <p>✅ A one-page business plan so you don't get stuck after finishing this course.</p>
                    <p>✅ Learn a streamlined style of digital marketing that you can repeat over and over again (no
                      matter what you decide to sell from freelance services to physical products or digital
                      products).</p>
                    <p>✅ A complete breakdown of what to sell, how to sell it, and where to sell it (since the internet
                      can get confusing).</p>
                    <p>✅ Make your first $5-$10K with a "micro offer" that you can start selling immediate</p>
                    <p>✅ Make your first $5-$10K with a "micro offer" that you can start selling immediately.</p>
                    <p>✅ How to turn your interests into a valuable offer that people <i>want to pay you for</i></p>


                </div>
            </div>
        </div>
    </div>
</section>