<section class="section column is-8 is-offset-2">
  <div class="container">
    <div class="has-text-centered mb-6">
      <p
        class="is-uppercase has-text-weight-bold has-text-warning mb-2"
        style="letter-spacing: 2px"
      >
        ARE YOU OVERWHELMED?
      </p>
      <h1 class="title is-2 has-text-white has-text-weight-bold mb-2">
        Who Is This For?
      </h1>
      <p class="is-size-5 has-text-grey-light">It doesn't have to be complicated.</p>
    </div>
    <div class="card" style="position: relative; padding-top: 1rem">
      <!-- Top Center Image -->

      <!-- Card Content -->
      <div class="card-content">
        <div class="content article-body is-size-5">
          <p>I've taught over 2000+ creators.</p>

          <p>
            There is <strong>always one thing</strong> that they struggle with the most:
          </p>

          <p>
            <em>Confidence, clarity, and execution around their brand, content, and products.</em>
          </p>

          <p>That's why I created this bootcamp.</p>

          <p>I feel like every creator should have the skills to turn their creative work into a sustainable income.</p>

          <p>
            <strong>(So that you don't become a starving artist).</strong>
          </p>

          <p>
            But the systems and strategies that gets results are what most creators struggle with.
          </p>

          <p>This course is for you if:</p>

          <ul>
            <li>You don't know what skills to learn that allow you to turn your creative work into a sustainable income.</li>
            <li>You hear everyone talk about the opportunity in the creator economy but aren't sure where to start.</li>
            <li>You don't understand the basics of marketing, sales, and persuasion because you've been given work your entire life (you haven't had to hunt for your own work).</li>
            <li>You don't know what type of product or service to sell that will bring in the most revenue.</li>
          </ul>

          <p><strong>In this one-person business primer course, you will learn:</strong></p>

          <ul>
            <li><strong>The Digital Economy</strong> – A solidified understanding of the new digital economy and how to take advantage of it.</li>
            <li><strong>The Creator Mindset</strong> – How to remove your money-dependence from your employer to earn for yourself.</li>
            <li><strong>Skill & Curiosities</strong> – How to blend your interests in a way that makes you unique.</li>
            <li><strong>The Evergreen Markets</strong> – How to position your content and products for maximum engagement and sales.</li>
            <li><strong>Products & Services</strong> – The best thing to sell at the start of your journey to make an income (relatively) fast.</li>
            <li><strong>Distribution Networks</strong> – How to get in front of more people to build an audience and find customers.</li>
            <li><strong>Awareness & Attention</strong> – Learn to capture attention no matter who is reading your content.</li>
            <li><strong>The Greatest Skill</strong> – Learn ethical persuasion and influence so you don't have to scam, cheat, or deceive your audience.</li>
            <li><strong>The Keys To Success</strong> – Start learning the optimal way by building in public.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container has-text-centered mt-4">
    <button class="container has-text-centered">
        <a href="https://selar.com/business-bootcamp" class="button is-primary hero-cta is-medium">
                <span class="icon"><i class="fa-solid fa-arrow-down"></i></span>
                <span>Enroll In Course</span>
              </a>
    </button>
    </div>

</section>
