<section class="section has-background-white">
    <div class="container">
      <div class="is-vcentered columns is-multiline">
        <div class="column is-6 is-5-desktop mb-4">
          <span class="has-text-black">Novel ideas</span>
          <h2 class="has-text-black mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">Read Patrick Kyei Letters</h2>
          <p class="has-text-black">Every Wednesday morning, I go deeper into the ideas I share on social media, offering high-impact advice on human-potential, business, and self-mastery.</p>
        </div>
        <div class="column is-5 ml-auto">
          <div class="mx-auto box p-6 has-background-black has-text-centered">
            <h4 class="is-size-5 mb-2 has-text-weight-bold">Join 2000+ Readers</h4>
            <p class="has-text-grey-dark mb-4">No spam. Jush high-quality ideas.</p>
            <iframe 
    src="https://patrickkyei.substack.com/embed" 
    frameborder="0" 
    scrolling="no">
  </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>