<section class="section has-background-light">
    <div class="container">
      <div class="has-text-centered mb-6">
        <h2 class="title is-3">Frequently Asked Questions</h2>
        <p class="subtitle is-5">Still unsure? Let’s clear that up.</p>
      </div>
  
      <div class="content">
        <div class="box">
          <h4 class="title is-5">Who is this for?</h4>
          <p>This program is designed for beginners, creators, and founders who want to use digital writing to grow an audience and monetize their skills.</p>
        </div>
  
        <div class="box">
          <h4 class="title is-5">Do I need to be a “good writer” to start?</h4>
          <p>No. We teach frameworks that make you sound like a pro—even if you’re just starting out. You’ll also get writing prompts and examples.</p>
        </div>

        <div class="box">
          <h4 class="title is-5">Do I Need Followers To Make This Work?</h4>
          <p>Writing is how you grow a following on any platform.</p>
        
        <p>If you want to start off ahead of everyone else that is "winging it" (like I did for 3 years until I developed this), you can also do that.</p>
        </div>

        <div class="box">
          <h4 class="title is-5">Is This A Self Paced Course, Bootcamp, Or Cohort?</h4>

          <p>This is a self paced course with community support perfect for busy people. If you want the virtual Bootcamp style join the <b><a href="https://selar.com/writing-sprint">Minimaist Writer Bootcamp</a> </b></p>
        </div>
  
        <div class="box">
          <h4 class="title is-5">How is this different from free content?</h4>
          <p>The Fullstack Writer program is a complete ecosystem. It’s not scattered advice—it’s a guided transformation with clear results, tools, and systems.</p>
        </div>
  
        <div class="box">
          <h4 class="title is-5">How long do I get access?</h4>
          <p>You get lifetime access to the materials + all future updates. No subscriptions, no upsells.</p>
        </div>
  
        <div class="box">
          <h4 class="title is-5">What if I have more questions?</h4>
          <p>Send a DM to <a href="https://facebook.com/thepatrickkyei" target="_blank">@thepatrickkyei</a> on Meta or use the contact form on the site. I'm here to help.</p>
        </div>
      </div>
    </div>

      <!-- Buttons Group -->
  <div class="mt-5 buttons is-centered is-flex-wrap-wrap">
    <a href="https://paystack.com/buy/fullstack-writer" class="button is-primary is-medium">
      Enroll In The Course
    </a>
    <a href="https://paystack.com/buy/writing-sprint" class="button is-light is-medium">
      I Want The Sprint
    </a>
  </div>

  </section>
  