<section class="section">

    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START SECTION -->
            <div class="card article">
                <div class="card-content">
                    <div class="media has-background-black">
                        <div class="media-content has-text-centered">
                            <p class="is-uppercase has-text-weight-bold has-text-warning mb-2" style="letter-spacing: 2px;">
                                Become Recession Proof
                              </p>
                            <p class="title article-title has-text-white"> Nobody Wants To Be Stuck In A Cubicle</p>
                                <p class="is-size-5 has-text-grey-light mb-2">
                                    Are you irreplaceable?
                                  </p>
                            <div class="tags has-addons level-item mb-2">
                                <span class="tag is-rounded is-info">Register</span>
                                <span class="tag is-rounded">Today</span>
                            </div>
                        </div>
                    </div>

                    <div class="content article-body is-size-5">
                        <p>
                            <b>62% of labor-intensive jobs will disappear within the next decade.</b>
                            And yes, even many high-skill roles are on the chopping block.
                        </p>

                        <p>This isn't a future prediction. It's already happening right in front of us.</p>

                        <p>For years, the signals have been clear:</p>

                        <h3 class="has-text-centered">The Future Belongs To Creators</h3>


                        <p>
                        <blockquote> "If the work doesn't require creativity, delegate it, automate it, or leave it.” -
                            Naval</blockquote>
                        </p>

                        <p>But I won't waste your time preaching doom.</p>

                        <p>Let's find out if this is even relevant to you.</p>

                        <p>If none of the following describe you, feel free to leave this page:</p>

                        <li>You have multiple interests, but no clue how to attract attention to your work (Because
                            value means nothing without people who see it.)</li>

                        <li>You run a one-person business but feel unsure about the quality of your posts, newsletters,
                            or online presence.</li>

                        <li>You write online, but lack a consistent, original content system so you default to templates
                            or mimic others.</li>

                        <li>You haven't picked a skill yet, and want one that can either stand alone or amplify every
                            other high-demand skill.</li>

                        <li>You're still trading time for money, but want to build a long-term foundation that shifts
                            you to mind over time. </li>

                        <li>You've tried to learn a skill, sell a skill... but without attention or authority, nothing
                            sticks.</li>

                        <li>You're tired of learning skills you can't monetize or imagine doing 10 years from now.</li>

                        <p> I could list more, but by now, you probably know:</p>

                        <p> If writing faster, better, and more originally matters to your future...
                            this is where that shift begins.
                        </p>

                    </div>
                </div>
            </div>