<!-- START SECTION -->


                    <div class="content has-text-white is-size-5">
                        <p>I started out like everyone else.</p>

                        <p>
                            I had no idea what I was doing with skills like Facebook ads,
                            email marketing, web design, digital art, dropshipping, eCommerce,
                            SEO, and almost any other skill you could imagine. But from those
                            failures, I learned 3 things:
                        </p>

                        <h3 class="has-text-white">1) Writing is the foundation of all valuable communication.</h3>

                        <p>When I say “valuable” here, I mean monetizable.</p>

                        <p>
                            Once I learned to write, I took my freelance web design business
                            (of all things) to 5 figures.
                        </p>

                        <p>Knowing how to communicate your value is important.</p>

                        <p>
                            Think about it, if you don’t want to learn to code, the only other
                            option should be writing.
                        </p>

                        <p>The front end of the internet is media.</p>

                        <p>Writing is the foundation of media.</p>

                        <p><b>Tweets?</b> Writing.</p>

                        <p><b>Threads?</b> Writing.</p>

                        <p><b>Newsletters?</b> Writing.</p>

                        <p><b>Blog posts?</b> Writing.</p>

                        <p><b>YouTube videos?</b> Done best with written scripts.</p>

                        <p>
                            <b>Instagram reels and TikToks?</b> Like reading well-written
                            tweets.
                        </p>

                        <p>
                            <b>Images on Instagram?</b> Usually designed from a well-written
                            quote or saying.
                        </p>

                        <p>
                            <b>Captions on any platform?</b> Writing that results in the most
                            followers and conversions (the content itself doesn't do that.)
                        </p>

                        <p>
                            <b>Any other form of online marketing, advertising, or
                                entertainment?</b>
                            Starts with writing.
                        </p>

                        <p>The list goes on.</p>

                        <p>
                            There’s a reason myself, my clients, and my friends get more
                            engagement, followers, and sales than those that show off their
                            booties and six packs all day:

                        <p><b>High-impact digital writing.</b></p>

                        </p>

                        <h3 class="has-text-white">2) Employers, prospects, and potential customers are online.</h3>

                        <p>It should be pretty clear by now that the world (especially commerce and work) is going
                            digital.</p>

                        <p>Employers are tired of sifting through terrible resumes.</p>

                        <p>Instead, they are reaching out to those that are displaying their value with their "Public
                            Resume" (online writing).</p>

                        <p>In short, you write about what you love and opportunities find their way to you.</p>

                        <p>I’m simplifying here, of course, but it’s the reality of many that are growing their audience
                            with little experience with writing itself.</p>

                        <p><b>The internet is an interest attractor</b> (just think about the people you follow, could
                            you
                            write what they write? Go and look. I bet you can).</p>


                        <h3 class="has-text-white">3) The future belongs to the creative.</h3>

                        <p>When I say creative, I don’t mean a creative skill like design. A skill has its limits.</p>

                        <p>I’m talking about the opposite of labor, as others can be trained into labor.</p>

                        <p>Creativity happens at the intersection of your genuine interests and personality.</p>

                        <p>The way you solve problems based on your unique experiences is going to be different from the
                            next guy.</p>

                        <p>If you can cultivate your creative problem solving skills, you shouldn't have a problem in
                            the emerging digital economy.</p>

                        <p>If you are brand new to writing, take a look at the next Tweet you read.</p>

                        <p><b>What are they doing with their writing?</b></p>

                        <p>Solving problems through education, actionable advice, and unique perspectives.</p>

                        <p><b>How do you pursue your genuine interests full time?</b></p>

                        <p>By educating and inspiring others through writing online.</p>

                        <p><b>How do you grow into your authentic self?</b></p>

                        <p>Through self-awareness and understanding.</p>

                        <p><b>How do you develop self-awareness and understanding?</b></p>

                        <p>Journaling.</p>

                        <p>AKA writing.</p>

                        <p>In a public journal (the internet).</p>

                        <p>All. Roads. Lead. To. Writing.</p>
                        
                        <p>If I were to go back and change one thing, it would be to learn writing first.</p>


                        
                    </div>
   
       
  