<section class="section has-background-black has-text-white">
  <div class="container">
    <div class="card" style="position: relative; padding-top: 3rem;">
      <!-- Top Center Image -->
      <figure 
        class="image is-96x96 is-inline-block" 
        style="position: absolute; top: -48px; left: 50%; transform: translateX(-50%); border: 4px solid white; border-radius: 50%;">
        <img class="is-rounded" src="/assets/img/desiree.jpg" alt="Author Image">
      </figure>

      <!-- Card Content -->
      <div class="card-content has-text-centered">
        <p class="title is-4 has-text-black mt-4">Desire Sweet</p>
        <p class="subtitle is-6 has-text-black"><a href="https://www.facebook.com/PinayinMotionwithDesireSweet?mibextid=ZbWKwL">@desireesweet </a> on July 12, 2025</p>

        <div class="content has-text-black">
          <p>
            I want to sincerely thank Mr. Patrick Kyei for being an incredible mentor. 
            I’ve learned so much from him throughout this journey. He has a unique way of teaching that is both clear and easy to understand, which made the learning process more effective and enjoyable.
          </p>
          <h3 class="has-text-centered has-text-grey-black is-italic mt-5 mb-5">
            What stood out the most is how helpful and genuinely supportive he is. He consistently kept us motivated, encouraged us to do our best, and made sure we were always on tr...
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
