<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <!-- Open Graph Meta Tags -->
<!-- Open Graph (Facebook, LinkedIn, WhatsApp, Telegram) -->
<meta property="og:title" content="{{ page.title | default: site.title }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ page.excerpt | strip_html | truncate: 160 }}{% endif %}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{% if page.image and page.image.path %}{{ page.image.path | absolute_url }}{% else %}{{ site.url }}/assets/img/default-share.png{% endif %}" />
<meta property="og:image:alt" content="{{ page.image.alt | default: page.title | default: site.title }}" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title | default: site.title }}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ page.excerpt | strip_html | truncate: 160 }}{% endif %}" />
<meta name="twitter:image" content="{% if page.image and page.image.path %}{{ page.image.path | absolute_url }}{% else %}{{ site.url }}/assets/img/default-share.png{% endif %}" />


<!-- Extra -->
<meta property="article:author" content="{{ site.url }}/about/" />


   <title>{{page.title}} | {{site.name}}</title>

   {% seo %}
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">




<script src="https://kit.fontawesome.com/28ec8bc467.js" crossorigin="anonymous"></script>
      
</head>
<body class="has-navbar-fixed-top">

    {{ content }}

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>